/* standardised, just copy into every css */
.ComponentStatus{
    font-family:  Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header {
    background-color: #dee2e6;
    font-size: calc(10px + 2vmin);
    color: black;
    text-align: center;
    padding: 5px;
    display:flex; 
    flex-direction:row;
  }

/* button:hover {
    background-color: black; /* Green */
    /* color: white;
} */ 

button { 
    background-color: white; 
    border: 2px solid #4285F4;  
    color: black; 
    font-weight: bold;
    width: 110px;
    height: 110px;
    cursor: pointer; 
    text-align: center;
    /* float: left;
    margin: 11px; */
    border-radius: 10px; 
  } 

button:hover{
  background-color: #4285F4;
  color: white;
}

.Buttongroup{
    display:flex; 
    justify-content: center;
    flex-flow: row wrap;
}


