/* standardised, just copy into every css */
.ComponentStatus{
    font-family:  Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header {
  background-color: #dee2e6;
  font-size: 1rem;
  color: black;
  text-align: center;
  padding: 0.01rem;
  display:flex; 
  flex-direction:row;
  align-items: center;
}

button { 
    background-color: white; 
    border: 0.15rem solid #4285F4;  
    color: black; 
    font-weight: bold;
    width: 7rem;
    height: 7rem;
    cursor: pointer; 
    text-align: center;
    margin: 1.2rem;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
    border-radius: 1rem; 
    font-size: large;
  } 

button:hover{
  background-color: #4285F4;
  color: white;
}

.Buttongroup{
    display:flex; 
    justify-content: center;
    flex-flow: row wrap;
}

.Buttongroup > * {
  text-transform: uppercase;
}
