.QCEntry{
    font-family:  Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header {
    background-color: #dee2e6;
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 0.01rem;
    display:flex; 
    flex-direction:row;
    align-items: center;
  }

.formcontainer {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.formcontainer > button { 
    background-color: #4285F4; 
    color: white; 
    font-weight: bold;
    width: 12rem;
    height: 4rem;
    cursor: pointer; 
    text-align: center;
    border-radius: 0.5rem; 
    font-size: large;
    transition-duration: 3ms;
} 

.formcontainer > button:hover{
  background-color: white;
  color: #4285F4;
}

.formcontainer > input {
    width: 15rem;
    border-radius: 0.25rem;
    cursor: pointer;
    border: 0.1rem solid #4285F4;
    text-align: center;  
    margin-top: 3rem; 
    padding: 0.5rem;
}

.formcontainer > p {
  font-size: x-small;
  margin-top: 0.1rem;
  margin-bottom: 3rem;
  color: red;
}

select {
  width: 16.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  border: 0.1rem solid #4285F4;
  text-align: center;  
  margin-top: 0.5rem; 
  padding: 0.5rem;
  color: black;
  padding-left: 1.5rem;
  cursor: pointer;
}

select:visited {
  background: #4285F4;
  color: white;
}

/* select:hover {
  color: white;
  background-color: #4285F4;
} */
